<h1>Pedido</h1>
<%= form_for :orders, :url => orders_path, :method => :post do |o| %>
  <table>
    <tr>
      <td>
        <p>
        <%= o.label 'Cliente' %><br>
        <%= o.text_field :contact_id %>
        </p>
      </td>

      <td>
        <p>
        <%= o.label 'NIF' %><br>
        <%= o.text_field :tax_number %>
        </p>
      </td>

      <td>
        <p>
        <%= o.label 'Dirección' %><br>
        <%= o.text_field :line_1 %>
        </p>
      </td>

      <td>
        <p>
        <%= o.label 'Nº Pedido' %><br>
        <%= o.text_field :order_number %>
        </p>
      </td>
    </tr>
    <tr>

      <td>
        <p>
        <%= o.label 'Fecha Pedido' %><br>
        <%= o.text_field :date %>
        </p>
      </td>

      <td>
        <p>
        <%= o.label 'Fecha Entrega' %><br>
        <%= o.text_field :deliver_date %>
        </p>
      </td>
    </tr>
  </table>

  <table border=1>
    <tr>
      <td>
        <p>
        <%= o.label 'Modelo' %><br>
        <%= o.text_field :article_id %>
        </p>
      </td>

      <td>
        <p>
        <%= o.label 'Descripción' %><br>
        <%= o.text_field :description %>
        </p>
      </td>

      <td>
        <p>
        <%= o.label 'Color' %><br>
        <%= o.text_field :colour %>
        </p>
      </td>

      <td>
        <p>
        <%= o.label 'M' %><br>
        <%= o.text_field :size %>
        </p>
      </td>

      <td>
        <p>
        <%= o.label 'Unidades' %><br>
        <%= o.text_field :quantity %>
        </p>
      </td>

      <td>
        <p>
        <%= o.label 'Precio' %><br>
        <%= o.text_field :price %>
        </p>
      </td>

      <td>
        <p>
        <%= o.label 'Importe' %><br>
        <%= o.text_field :importe %>
        </p>
      </td>
    </tr>
  </table>
  <p>
  <%= o.submit %>
  </p>
<% end %>
